.sendContact.container
    .row
        .col-md-8.offset-md-2.text_center
            h2.heading.heading_2 Запишитесь на &nbsp;
                span.text_green бесплатное &nbsp;
                | посещение любых занятий в течении одного дня
            p Вы сможете побывать на нескольких уроках, познакомиться с преподавателями, методикой, пообщаться с учениками и пройти тестирование. От вас требуется только предварительная запись и доехать до станции метро Международная.

    .row
        .col-md-8.offset-md-2.text_center
            .form
                .form__group
                    label.form__label Ваше имя
                    input.form__input.form__input_block(placeholder="Ваше имя")
                .form__group
                    label.form__label Номер телефона
                    input.form__input.form__input_block(placeholder="Номер телефона")
                .form__group
                    button.button Записаться

                P.footnote * Ваши контактные данные будут использованы только для связи с вами