.plan.container
    .row
        .col-md-8.offset-md-2.text_center
            h2.heading.heading_2 КАК ЭТО РАБОТАЕТ?
            p За 4 года существования школы наша система обучения менялась три раза. Сейчас она выглядит следующим образом:

        .col-md-10.offset-md-2
            img(src="images/plan.png")

            .plan__item(style="top: 0; left: 135px;") ВХОДНОЕ &nbsp;
                br
                | ТЕСТИРОВАНИЕ

            .plan__item(style="top: 133px; left: 15px;") ПРОБНОЕ ЗАНЯТИЕ
            .plan__item(style="top: 248px; left: 126px;") СОЗДАНИЕ &nbsp;
                br
                | КАРТЫ ЗНАНИЙ
            .plan__item(style="top: 386px; left: 35px;") СОЗДАНИЕ &nbsp;
                br
                | ЛИЧНОГО КАБИНЕТА
            .plan__item(style="top: 454px; left: 383px;") ЗАПИСЬ НА УРОК
            .plan__item(style="top: 334px; left: 301px;") ИЗУЧЕНИЕ СЛОВ
            .plan__item(style="top: 115px; left: 307px; font-size: 16px;") ПОСЕЩЕНИЕ УРОКА &nbsp;
                br
                | В ШКОЛЕ
            .plan__item(style="top: 267px; left: 483px;") ДОМАШНЕЕ ЗАДАНИЕ
            .plan__item(style="top: 33px; left: 497px;") МЕЖУРОВНЕВОЕ
                br
                | ТЕСТИРОВАНИЕ
            .plan__item(style="top: 141px; left: 608px;") ПЕРЕХОД НА
                br
                | СЛЕДУЮЩИЙ УРОВЕНЬ

        .col-md-8.offset-md-2.text_center
            br
            p Сначала Вы проходите тестирование для определения Вашего уровня знаний. Затем мы создаем Вашу карту знаний и личный онлайн кабинет, в котором Вы будете видеть расписание занятий и записываться на них. Также в онлайн-системе Вы будете делать домашние задания и изучать слова. После прохождения всех уроков уровня, вы сможете пройти тест, который открывает доступ к новому уровню.
