.liveLessons.container
    .row
        .col-xs-8.offset-xs-2.text_center
            h2.heading.heading_2
                span.text_green ЖИВЫЕ &nbsp;
                | УРОКИ и ON-LINE система
            p Нам важно, чтобы наши студенты могли применять английский язык в реальной жизни, поэтому живое изучение мы дополняем online-платформой.

            p Весь процесс помещается в 4 простых шагах

    .row
        .col-xs-8.offset-xs-2.text_center
            .tabs
                .tabs__header
                    .tabs__title.tabs__title_active(data-tab-id="1") Запись на урок
                    .tabs__title(data-tab-id="2") Изучение слов
                    .tabs__title(data-tab-id="3") Посещение урока
                    .tabs__title(data-tab-id="4") Тренировка
                .tabs__body
                    .tabs__content(data-tab-id="1")
                        p Вы всегда можете посмотреть расписание занятий в личном кабинете и записаться на урок. Расписание, в котором указаны темы, уровень, преподаватель и время занятий составляется заранее.
                        img(src="images/schedule.jpg")
                    .tabs__content(data-tab-id="2")
                        p Перед посещением урока Вы можете изучить слова, которые будут активно использоваться на нем. Это поможет Вам увереннее чувствовать себя на занятии, а также концентрироваться на основной теме.
                        img(src="images/wordlist.jpg")
                    .tabs__content(data-tab-id="3")
                        p На уроках мы проходим грамматику, изучаем новые слова, слушаем записи, устраиваем ролевые диалоги и играем в игры. Большая часть занятия проходит в разговорной форме, чтобы даже самые застенчивые студенты смогли разговориться.
                        img(src="images/speak.jpg")
                    .tabs__content(data-tab-id="4")
                        p Закрепляйте пройденный материал в наших ежедневных заданиях. Тренируйте правила грамматики с помощью нашего тренажёра. Выполняйте все упражнения, чтобы продвигаться по уровням быстрее.
                        img(src="images/homework.jpg")
