.liveLessons.container
    .row
        .col-md-8.offset-md-2.text_center
            h2.heading.heading_2
                span.text_green ЖИВЫЕ &nbsp;
                | УРОКИ и ON-LINE система
            p Нам важно, чтобы наши студенты могли применять английский язык в реальной жизни, поэтому живое изучение мы дополняем online-платформой.

            p Весь процесс помещается в 4 простых шагах

