.heading
  font-family 'Roboto Condensed', sans-serif
  color #333
  &_1
    font-weight 800
    letter-spacing 0.1em
    font-size 34px
    line-height 48px
    text-transform uppercase
    margin-bottom 20px
  &_2
    font-size 34px
    line-height 48px
    text-transform uppercase
    font-weight 300
    margin-bottom 20px
  &_3
    font-size 28px
    line-height 26px
    font-weight 300
    margin-bottom 20px
    margin-top 0
    letter-spacing 0.1em
