.hero.container
    .row
        .col-xs-5.hero__info
            h1.heading.heading_1.hero__cation ЭФФЕКТИВНОЕ ОБУЧЕНИЕ АНГЛИЙСКОМУ КАЖДЫЙ ДЕНЬ!
            p Курсы английского по безлимитному месячному абонементу.
            ul.list
                li.list__item Начало с любой даты
                li.list__item Самостоятельно планируйте расписание занятий
                li.list__item Возможность пройти занятие несколько раз
                li.list__item Изучение и тренировка слов в современной онлайн системе
                li.list__item Разговорный клуб на высоких уровнях

    form.form.formHero
        .form__header Запишитесь на один день бесплатного посещения!
        .form__body
            input.form__input.formHero__item(name="lead_name" placeholder="Ваше имя")
            input.form__input.formHero__item(name="lead_phone" placeholder="Номер телефона")
            button.button.formHero__item Записатся
