.hero
  background url('../images/flag-background.png') -10px 100% / auto 210px no-repeat,
             linear-gradient(to top, #fff 70px, transparent 0%),
             linear-gradient(100deg, #fff 35%, transparent 50%),
             url('../images/hero-background.jpg') 80px 0 no-repeat
  padding-bottom 90px
  padding-top 25px
  padding-left 60px
