.footer.container
    .row
        .col-md-4
            | ЧОУ ДО "Простые языки"
            br
            | Сантк-Петербург ул. Белы Куна д.3
            br
            | ТРК Международный 8 этаж 827 офис
            br
            | Лицензия на образовательную деятельность
            br
            | Серия 78Л01 №0000738
            br
            | ИНН 7816290561 КПП 781601001
            br
            | ОГРН 1137800000502 ОКПО 20514244
            br
        .col-md-4
            b Наш телефон:
            .footer__phone +7 (812) 389 60 21
            b Мы консультируем:
            p по будням: с 12:00 до 20:00
            p выходным: с 12:00 до 16:00
        .col-md-4
            b Мы принимаем:
            img.footer__phone(src="images/creditcards.png" height="32")
            b Мы учим: по будням:
            p с 10:00 до 22:00
            p по выходным: с 11:00 до 18:00
