.footer
  position fixed
  bottom 0
  left 50%
  transform translateX(-50%)
  z-index 1
  padding-bottom 30px
  max-width 980px
  margin 0 auto
  color #666
  font-size 12px
  text-shadow 1px 1px 0 #eee
  &__phone
    font-size 28px
    color #444
    line-height 28px
    margin-bottom 15px
  p
    margin-top 3px
    margin-bottom 3px
  b
    color #444
    font-weight 600
    display block
    margin 5px 0
