.cost.container
    .row
        .col-md-8.offset-md-2.text_center
            h2.heading.heading_2 Стоимость
            p У нас созданы условия оплаты, которые подойдут каждому.
            br

    .row
        .col-md-8.offset-md-2
            .cost__wrap
                table.table.cost__table
                    thead
                        tr
                            th
                            th Утро
                            th Вечер
                            th Полный
                    tbody
                        tr.cost__separator
                            td
                            td(colspan='3') время занятий
                        tr
                            td Будни
                            td с 10 до 13
                            td с 18 до 22
                            td все
                        tr
                            td Выходныe
                            td все
                            td все
                            td все
                        tr.cost__separator
                            td
                            td(colspan='3')
                        tr
                            td Открытая дата
                            td +
                            td +
                            td +
                        tr
                            td Online практика
                            td +
                            td +
                            td +
                        tr
                            td Заморозка
                            td(colspan='3') 7 дней на каждый месяц
                        tr.cost__separator
                            td
                            td(colspan='4') стоимость
                        tr.cost__month
                            td 3 месяца
                            td 13 100 Р
                            td 14 800 Р
                            td 17 900 Р
                        tr.cost__month
                            td 6 месяцев
                            td 24 600 Р
                            td 26 600 Р
                            td 28 800 Р
                        tr.cost__month
                            td 9 месяцев
                            td 36 000 Р
                            td 38 100 Р
                            td 39 600 Р
