.navbar
  position fixed
  top 0
  left 0
  right 0
  display flex
  height 70px
  z-index 10
  &__content
    display flex
    align-items center
    justify-content space-around
  &__brand
    display flex
    align-items center
    img
      height 32px
