.navbar
  display flex
  align-items center
  height 62px
  background #fff
  box-shadow 0 4px 10px rgba(1, 2, 2, .1)
  &__content
    display flex
    justify-content space-between
  &__brand
    margin-right auto
    display flex
    align-items center
    img
      height 30px
  &__menu
    @media (max-width 992px)
      display none;
  &__phone
    margin-left auto
