.tabs
  &__header
    text-align center
    padding-top 10px
    padding-bottom 20px
  &__title
    display inline-block
    border-bottom 1px dashed
    cursor pointer
    margin 5px 10px
    &:hover
      color #20ac65
    &__active
      cursor default
      color #20ac65
      border none
  &__content
    display none
    &_active
      display block
