.levels.container
    .row
        .col-md-8.offset-md-2.text_center
            h2.heading.heading_2 УРОВНИ И УРОКИ
            p Очень важно изучать английский по структурированной системе и видеть свой прогресс. Раз в год мы пересматриваем все наши уроки и вносим необходимые корректировки для создания простой и логичной структуры всех модулей. Такой подход гарантирует развитие всей системы и совершенствует путь к достижению поставленных целей наших студентов.
            br

    .row
        .col-md-5.offset-md-2
            img(src="images/levels.png")
        .col-md-5
            h3.levels__caption.heading.heading_2 7 уровней
            h4.levels__description.heading.heading_4 до Upper-Intermediate
            h3.levels__caption.heading.heading_2 76 уроков
            h4.levels__description.heading.heading_4 на всех уровнях
            h3.levels__caption.heading.heading_2 35 уроков
            h4.levels__description.heading.heading_4 в неделю
            h3.levels__caption.heading.heading_2 4048 уроков
            h4.levels__description.heading.heading_4 проведено

    .row
        .col-md-6.offset-md-3.text_center
            h2.heading.heading_2 ПОДОЙДЕТ &nbsp;
                span.text_green ВСЕМ!
            p Одним из основных преимуществ нашей системы является индивидуальный подход к каждому студенту. Мы знаем о их проблемах, целях или страхах и помогаем в решении задач.
            br

    .row
        .col-md-8.offset-md-2.text_center
            .col-md-4
                h4.heading.heading_4 Для начинающих
                p.levels__info Наши занятия прекрасно подойдут для новичков. На уроках мы уделяем время всем аспектам языка: грамматике, говорению, чтению, аудированию и письму.
            .col-md-4
                h4.heading.heading_4 Для продолжающих
                p.levels__info На средних уровнях мы уделяем внимание функциональности знаний и стараемся перевести их в активные разговорные навыки.
            .col-md-4
                h4.heading.heading_4 Для продвинутых
                p.levels__info На высоких уровнях акцент делается на обогащение речи, изучение сложных конструкций и слов. Также уделяется внимание скорости речи.
