.comfort.container
    .row
        .col-xs-8.offset-xs-2.text_center
            h2.heading.heading_2 УЮТ &nbsp;
                span.text_green И &nbsp;
                | КОМФОРТ
            p Один из основных факторов при выборе места обучения - это комфорт. Мы уделяем этому много времени и стараемся создать уютную атмосферу в наших классах. Светлые кабинеты с панорамными окнами, что может быть лучше?
            br

    img(src="images/classes.jpg")
