.comfort.container
    .row
        .col-md-8.offset-md-2.text_center
            h2.heading.heading_2 ПОПУЛЯРНЫЕ ВОПРОСЫ
            p Мы собрали самые популярные вопросы и дали как можно подробнее ответы
            br
    .row
        .col-md-8.offset-md-2.text_center
            .accordion
                .accordion__title.heading.heading_4 На сколько быстро проходит курс обучения?
                .accordion__content Конечно же все зависит от вашей посещаемости и мотивации. В среднем наши студенты завершают одну ступень за 5 - 8 недель.

                .accordion__title.heading.heading_4 Как часто повторяются занятия?
                .accordion__content Темы уроков повторяются раз в две недели.

                .accordion__title.heading.heading_4  Где узнать расписание?
                .accordion__content Всё доступное вам расписание можно посмотреть в личном кабинете. Вы будете видеть только те уроки, которые соответствуют Вашему уровню.

                .accordion__title.heading.heading_4  Сколько занятий я смогу посетить?
                .accordion__content Мы никак не ограничиваем вас в посещениях. Занятия идут каждый день, включая субботу и восресение. В среднем наши студенты посещают 16 занятий в месяц. Все зависит от вашего свободного времени и темп, который подходит именно вам.

                .accordion__title.heading.heading_4  Сколько длятся занятия?
                .accordion__content Каждый урок длится 60 минут без перерывов. Этого времени достаточно чтобы расрыть и отработать материал урока. При желании вы можете сходить на 2, а то и 3 урока подряд.

                .accordion__title.heading.heading_4  Нужно ли покупать учебники?
                .accordion__content Каждый урок уникален, так как преподавать самостоятельно подготавливает материалы перед каждым занятием. Все материалы входят в стоимость абонемента. С собой студенты обычно носят ручку и тетрадь для записей.

                .accordion__title.heading.heading_4  Сколько человек в группе?
                .accordion__content Все зависит от темы урока и времени. Иногда, вы можете быть тет-а-тет, а иногда может быть и 8 человек. Мы ограничиваем запись до 10 человек на урок.
