.community.container
    .row
        .col-xs-8.offset-xs-2.text_center
            h2.heading.heading_2
                span.text_green ЖИЗНЬ &nbsp;
                | В EASY LANG
            p Наш дружный коллектив часто организовывает веселые игры, мероприятия и праздники для студентов школы.

    .row
        .community__photo
            img(src="images/people.jpeg")
