@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:300,400,700&subset=cyrillic');

@import '../node_modules/font-awesome/css/font-awesome.min.css'

@import 'blocks'


html
  height 100%

img
  max-width 100%
  vertical-align bottom

input
  max-width 100%

:focus
  outline none

::-moz-focus-inner
  border none

.container
  min-width 1280px
