doctype html
html(lang="ru")
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='./css/style.css')
        script(defer src="./js/bundle.js")
        title EASY LANG - Эффективное обучение английскому каждый день!

body.page
    include blocks/navbar/navbar
    .wrapper
        include blocks/hero/hero
        include blocks/features/features
        include blocks/plan/plan
        include blocks/community/community
        include blocks/levels/levels
        include blocks/liveLessons/liveLessons
        include blocks/comparison/comparison
        include blocks/cost/cost
        include blocks/comfort/comfort
        include blocks/questions/questions
        include blocks/sendContact/sendContact
    include blocks/footer/footer
