doctype html
html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='./style.css')
        script(defer src="bundle.js")
        title EASY LANG - Эффективное обучение английскому каждый день!

body.page
    include blocks/navbar/navbar
    .wrapper
        include blocks/hero/hero
        include blocks/features/features
        include blocks/plan/plan
        include blocks/community/community
        include blocks/levels/levels
        include blocks/liveLessons/liveLessons
