.features.container
    .row
        .col-xs-8.offset-xs-2
            h2.heading.heading_2 ОСОБЕННОСТИ НАШЕЙ СИСТЕМЫ ОБУЧЕНИЯ
            p Наша система обучения позволит Вам посещать занятия в удобные для Вас время и дни с интенсивностью, которая Вам подойдет, позволит не пропустить ни одного занятия, а также повторить любой пройденный материал еще раз.

            br

        .col-xs-6.offset-xs-3
            h3.heading.heading_3 Гибкий график
            p Составляйте своё собственное расписание: посещайте школу в удобные дни и время. Начать заниматься можно с любой даты.

            h3.heading.heading_3 Интенсивность посещений
            p Занимайтесь в своем темпе, выбирая комфортное для вас количество занятий в неделю.

            h3.heading.heading_3 Практика и теория вместе
            p На уроках мы совмещаем теоретический материл и разговорную практику. Все новые темы объясняются на разговорных примерах и с максимальным участием всех студентов.

            h3.heading.heading_3 Пробный день в школе!
            p Без предоплаты абонемента, Вы можете посетить пробный урок — занятие, на котором Вы поймете, как же здорово у нас учиться!

            br

            button.button Запишитесь на пробный день
