.comparison.container
    .row
        .col-xs-8.offset-xs-2.text_center
            h2.heading.heading_2 ЧЕМ МЫ &nbsp;
                span.text_green ЛУЧШЕ
                | ?
            p Если Вы хотите эффективно изучать английский язык, то наш абонемент, схема обучения и онлайн-поддержка подходят для этой цели лучше всего.

    .row
        .col-xs-8.offset-xs-2
            table.table.text_center
                thead
                    tr(valign='middle')
                        th(width='300')
                        th(valign='middle', nowrap='nowrap') EASY LANG
                        th Остальные школы
                tbody
                    tr
                        td.text_right Гибкий график занятий
                        td.text_green
                            i.fa.fa-check(data-toggle='tooltip', data-placement='left', title='Tooltip on left', aria-hidden='true')
                        td
                            i.fa.fa-meh-o(aria-hidden='true')
                    tr
                        td.text_right Начало с любой даты
                        td.text_green
                            i.fa.fa-check(aria-hidden='true')
                        td
                            i.fa.fa-meh-o(aria-hidden='true')
                    tr
                        td.text_right Возможность повтора уроков
                        td.text_green
                            i.fa.fa-check(aria-hidden='true')
                            i.fa.fa-check(aria-hidden='true')
                        td
                            i.fa.fa-meh-o(aria-hidden='true')
                    tr
                        td.text_right Онлайн-поддержка
                        td.text_green
                            i.fa.fa-check(aria-hidden='true')
                            i.fa.fa-check(aria-hidden='true')
                        td
                            i.fa.fa-check(aria-hidden='true')
                    tr
                        td.text_right Заморозка обучения
                        td.text_green
                            i.fa.fa-check(aria-hidden='true')
                            i.fa.fa-check(aria-hidden='true')
                        td
                            i.fa.fa-meh-o(aria-hidden='true')
                    tr
                        td.text_right Стоимость месяца
                        td.text_green
                            b ~ 4800 руб.
                        td 3 000 - 8 000 руб.
